# Scrapy settings for Fashion Scraper project
#
# For simplicity, this file contains only settings considered important or
# commonly used. You can find more settings consulting the documentation:
#     https://docs.scrapy.org/en/latest/topics/settings.html

[settings]
default = fashion_scraper.settings

[deploy]
project = fashion_scraper
